<!-- start of home page  -->
<!-- all home page classes, id etc.. will start with home-page  -->
<!-- holds all of the home page content -->
<div class="home-page-all-encompassing-container border-test fade-in one">

<!--side bar menu  -->
<div class="home-page-side-bar-menu">

  <!--Brand name of the website -->
  <div class="home-page-brand-name-and-symbol">
    <!--div for the brand name icon  -->
    <div class="home-page-brand-name-icon-container">
      <!-- <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
    </div>
    <p class="home-page-brand-name-title">Quenchua</p>
  </div>

  <!-- holds the different links (twitter, intagram, pintrest, google plus)  -->
  <div class="home-page-social-media-links-container">
    <div class="home-page-social-media-link">
      <i class="fa fa-facebook" id="home-page-font-awesome-manipulation"aria-hidden="true"></i>
    </div>
    <div class="home-page-social-media-link">
      <i class="fa fa-twitter" id="home-page-font-awesome-manipulation" aria-hidden="true"></i>
    </div>
    <div class="home-page-social-media-link">
      <i class="fa fa-pinterest-p" id="home-page-font-awesome-manipulation"aria-hidden="true"></i>
    </div>
    <div class="home-page-social-media-link">
      <i class="fa fa-instagram" id="home-page-font-awesome-manipulation"aria-hidden="true"></i>
    </div>
    <div class="home-page-social-media-link">
      <i class="fa fa-linkedin" id="home-page-font-awesome-manipulation" aria-hidden="true"></i>
    </div>
  </div>
</div>
<!--End of side bar code  -->

<!--div for the dark background  -->
<div class="hiking-page-dark-background">
<!--  camping text div-->
  <div class="hiking-page-camping-container">
    <p class="hiking-page-camping-text">
      HIKING
    </p>
  </div>
</div>
<!--orange div at bottom middle  -->
<a class="hiking-page-a-button">
<div route-directive id="hiking-page-start-of-route" class="hiking-page-orange-div-down-arrow-container">
  <i id="hiking-page-AF-down-arrow" class="fa fa-arrow-down" aria-hidden="true"></i>
</div>
</a>
<!-- hiking-page-background-camping-picture -->
<div class="hiking-page-background-camping-picture">
</div>
</div><!-- end of top part of page  -->


<!--start of parallax page  -->
<div class="hiking-page-white-top-fixed-border"></div>
<div parallax-directive id="route">

<!-- start of the left side for parallax  -->
<div class="hiking-page-left-side-parallax">
  <div class="hiking-page-blank-space-filler">
<!--first row for parallax left side -->
  </div>
<div class="hiking-page-orange-square">
</div>
<div class="hiking-page-tin-flask">
</div>


<div id="hiking-page-flask-1L-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div class="hiking-page-p-tag-isothermal-container">
   <p>
     FLASK 1L ISOTHERMAL
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Gear
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $11.99
    </p>
  </div>
  <!--step 1  -->
  <div ng-click='buyFlask(productFlask.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!--second row for parallax left side  -->
<div class="hiking-page-pic-of-hiking-shoes-for-sale">
</div>

<!--third row for parallax left side  -->
<div class="hiking-page-camp-big-container">
  <p class="hiking-page-camp-big-p">
    CAMP
  </p>
</div>


<!--fourth row for parallax left side  -->
<div class="hinking-page-orange-background-bar">

</div>
<div class="hiking-page-pullover-jacket-pic-container">
</div>

<div id="hiking-page-pullover-arpenaz-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
   <p>
     PULLOVER ARPENAZ HYBRID
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Pullover
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $21.99
    </p>
  </div>
  <div ng-click='buyFlask(productJacket.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!--fifth row for parallax left side  -->
<div id="hiking-page-Tshirt-Arpenaz-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
   <p>
     T-SHIRT ARPENAZ 100
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Women T-shirt
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $6.99
    </p>
  </div>
  <div ng-click='buyFlask(productTshirt.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!--sixth row for parallax left side  -->
<div class="hiking-page-orange-square-background-tent">

</div>
<div class="hiking-page-tent-picture">

</div>
<div class="hiking-page-tent-picture-description">
<p>
  Fresh & Black technology
affords 99.9% obscurity and
enhanced temperature control
to ensure better sleep.
</p>
</div>

<!--seventh row for parallax left side  -->
<div id="hiking-page-light-100-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
   <p>
     LIGHT 100 LUMENS
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Gear
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $7.99
    </p>
  </div>
  <div ng-click='buyFlask(productLantern.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!--eighth row for parallax left side  -->
<div class="hiking-page-hammock-pic-container"></div>
<div class="hiking-page-backpack-pic-container"></div>

<div id="hiking-page-backpack-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
   <p>
     BACKPACK ARPENAZ 20L
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Gear
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $7.99
    </p>
  </div>
  <div ng-click='buyFlask(productBackpack.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!--ninth row for parallax left side  -->
<div class="hiking-page-second-hammock-pic-container"></div>
<!-- <div class="big-textured-box"></div>
<div class="smaller-orange-arrow-box"></div>-->
</div>

<!--start of right side parallax  -->
<div class="hiking-page-right-side-parallax">
  <div class="hiking-page-blank-space-filler"></div>
  <!--first row right side parallax  -->
  <div class="hiking-page-backpack-sleeping-bag-pic-container">

  </div>
<!--second row right side parallax  -->
  <div id="hiking-page-shoes-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
    <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
     <p>
       SHOES ARPENAZ 500
     </p>
    </div>
    <div class="hiking-page-gear-tag">
      <p>
        Shoes
      </p>
    </div>
    <div class="hiking-page-euro-price-container">
      <p>
        $29.99
      </p>
    </div>
    <div ng-click='buyFlask(productShoes.products_id)' class="hiking-page-orange-buy-container">
      <div class="hiking-page-orange-buy-border">
        <p>
          BUY
        </p>
      </div>
      <div class="hiking-page-orange-buy-arrow-border">
        <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>

<!--third row right side parallax  -->
  <div class="hiking-page-vest-guitar-pic-container">

  </div>
  <div class="hiking-page-vest-guitar-pic-description">
    <p>
      Crease-resistant fabric. Machine washable. Quick to dry.
    </p>
  </div>
  <div id="hiking-page-ing-big-container"class="hiking-page-camp-big-container">
    <p>
      ING
    </p>
  </div>

  <!--fifth row right side parallax  -->
  <div class="hiking-page-washing-hands-pic-container">

  </div>

<!--sixth row right side parallax  -->
  <div id="hiking-page-tent-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
    <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
     <p>
       TENT FRESH & BLACK
     </p>
    </div>
    <div class="hiking-page-gear-tag">
      <p>
        Gear
      </p>
    </div>
    <div class="hiking-page-euro-price-container">
      <p>
        $59.99
      </p>
    </div>
    <div ng-click='buyFlask(productTent.products_id)' class="hiking-page-orange-buy-container">
      <div class="hiking-page-orange-buy-border">
        <p>
          BUY
        </p>
      </div>
      <div class="hiking-page-orange-buy-arrow-border">
        <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>

  <!--seventh row right side parallax  -->
<div class="hiking-page-light-pic-with-guitar-container">

</div>
<div class="hiking-page-light-pic-with-tent-container">

</div>

<!--eighth row right side parallax  -->
<div id="hiking-page-pullover-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
   <p>
     ARPENAZ 100 PULLOVER
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Pullover
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $9.99
    </p>
  </div>
  <div ng-click='buyFlask(productPshirt.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="hiking-page-close-line-pic-container"></div>
<div class="hiking-page-bottom-area-spacer">

</div>

<!--ninth row right side parallax  -->
<div id="hiking-page-hammock-positioning"class="hiking-page-flask-1L-iso-thermal-and-buy-container">
  <div id="hiking-page-p-tag-pullover"class="hiking-page-p-tag-isothermal-container">
   <p>
     HAMMOCK
   </p>
  </div>
  <div class="hiking-page-gear-tag">
    <p>
      Gear
    </p>
  </div>
  <div class="hiking-page-euro-price-container">
    <p>
      $9.99
    </p>
  </div>
  <div ng-click='buyFlask(productHammock.products_id)' class="hiking-page-orange-buy-container">
    <div class="hiking-page-orange-buy-border">
      <p>
        BUY
      </p>
    </div>
    <div class="hiking-page-orange-buy-arrow-border">
      <i id="hiking-page-orange-arrow-right"class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!-- <div class="big-white-box">

</div> -->
<a id="orange-arrow-div" class="hiking-page-a-button" ui-sref="shopping">
<div route-directive id="hiking-page-start-of-route" class="hiking-page-orange-div-down-arrow-container">
  <div class="coming-soon">
    <div>
      YOUR CART
    </div>
  </div>
</div>
</a>
<div class="smaller-text-area-box">

</div>
</div>
</div>
