/*MY FONTS*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans:700");
/* font-family: 'PT Sans', sans-serif */
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,100");
/* font-family: 'Exo 2', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Raleway:900");
/*font-family: 'Raleway', sans-serif;*/
a {
  text-decoration: none;
}
/*contains all of the home page content*/
.home-page-all-encompassing-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
/*entire side bar container (holds brand name and the 4 social media links)*/
.home-page-side-bar-menu{
  background: white;
  width: 75px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
  position: fixed;
  z-index: 5;
}
/*container for the brand name and the symbol*/
.home-page-brand-name-and-symbol{
width: 60px;
height: 200px;
/*border: red solid;*/
display: flex;
flex-direction: column;
align-items: center;
}

/*the actual title for the brand name*/
.home-page-brand-name-title{
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font-family: 'PT Sans', sans-serif;
    /*border: blue solid;*/
    margin-top: 3px;
    width: 80px;
    height: 30px;
    font-size: 20px;
}
.fa-paper-plane{
  /*border: blue solid;*/
  width: 100%;
}
.home-page-brand-name-icon-container{
  width: 50px;
  height: 50px;
}

}
/*container for the 4 social media links in the side menu*/
.home-page-social-media-links-container{
  width: 60px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*class for the 4 social media links*/
.home-page-social-media-link{
  width: 60px;
  height: 33.33px;
  display: flex;
  justify-content: center;
}

/*changes the way the font icons look*/
#home-page-font-awesome-manipulation{
  opacity: .3;
  font-size: 17px;
}

/*container for the background and main content of the page*/
.home-page-main-content-container{
height: 100vh;
width: inherit;
background-image: url("http://lookbook.quechua.com/spring-summer-2016/assets/img/bgs/menu-default.jpg");
background-position: center;
display: flex;
align-items: center;
z-index: 0;
transition: .8s ease-in-out;
}



/*TESTING AREA*/
.test-123{
  background-image:url("http://lookbook.quechua.com/spring-summer-2016/assets/img/bgs/menu-scene-1.jpg");
}
.testing-number-2{
  background-image:url("http://lookbook.quechua.com/spring-summer-2016/assets/img/bgs/menu-scene-2.jpg");
}
.testing-number-3{
  background-image:url("http://lookbook.quechua.com/spring-summer-2016/assets/img/bgs/menu-scene-3.jpg");
}

/*END TESTING AREA*/




/*container for the ham menu*/
.home-page-ham-menu{
height: 38px;
width: 38px;
position: fixed;
left: 95vw;
top: 20px;
background: orange;
z-index: 10;
}

/*container for the 5 different links to other sports pages*/
.home-page-catagory-page-links-container{
height: 350px;
width: 300px;
margin-left: 90px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

/*div container for the individual links*/
.home-page-individual-link-container{
width: 300px;
height: 60px;
display: flex;
/*background: blue;*/
}

/*div for the individual link numbers*/
.home-page-catagory-number-container{
height: 57px;
width: 45px;
border-bottom: #DBA973 solid 1px;
display: flex;
justify-content: center;
align-items: center;
}
/*actual p tag number for each link*/
.home-page-catagory-number{
font-size: 29px;
font-family: 'Exo 2', sans-serif;
color: white;
font-weight: 100;
}
/*div for the title of the individual links*/
.home-page-catagory-title{
width: 245px;
height: 60px;
display: flex;
justify-content: flex-start;
align-items: center;
}
.home-page-tag-link-title{
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-weight: 100;
  margin-left: 15px;
}
